In [1]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F
from pyspark.sql.window import Window
import psycopg2
from hdfs import InsecureClient
import os
from datetime import datetime

In [2]:
# params
# pg config
pg_config = {'host': '127.0.0.1'\
    , 'port': '5432'\
    , 'database': 'pagila'\
    , 'user': 'pguser'\
    , 'password': 'secret'\
}

# common config
config = {
    'outputDir': '/bronze/pagila',\
    'hdfs_url': 'http://127.0.0.1:50070/',\
    'hdfs_user': 'user',\
    'path_to_driver': '/home/user/drivers/postgresql-42.2.23.jar',\
    'tables_to_extract': (\
        'actor',\
        'actor_info',\
        'address',\
        'category',\
        'city',\
        'country',\
        'customer',\
        'customer_list',\
        'film',\
        'film_actor',\
        'film_category',\
        'film_list',\
        'inventory',\
        'language',\
        'nicer_but_slower_film_list',\
        'payment',\
        'rental',\
        'sales_by_film_category',\
        'sales_by_store',\
        'staff',\
        'staff_list',\
        'store'\
    )\
}

current_date = datetime.now().strftime("%Y-%m-%d")

In [3]:
# sessions and clients init
client = InsecureClient(config['hdfs_url'], user=config['hdfs_user'])

spark = SparkSession\
    .builder.master('local')\
    .appName('homework-06')\
    .config('spark.driver.extraClassPath'
            , config['path_to_driver'])\
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [4]:
# extraction process
with psycopg2.connect(**pg_config) as pg_connection:
    for table_name in config['tables_to_extract']:
        with pg_connection.cursor() as cursor:
            with client.write(
                os.path.join(config['outputDir'], table_name, current_date, table_name + '.csv'),
                overwrite=True
            ) as csv_file:
                cursor.copy_expert(f"COPY (select * from {table_name}) TO STDOUT WITH HEADER CSV", csv_file)

In [5]:
# data frames definition
for table_name in config['tables_to_extract']:
    globals()[f"{table_name}_df"] = spark.read.load(os.path.join(config['outputDir'], table_name, current_date, table_name + '.csv')
        , header="true"
        , inferSchema="true"
        , format="csv")

In [6]:
# 1. вывести количество фильмов в каждой категории, отсортировать по убыванию
task1_df = film_category_df\
    .join(category_df,'category_id')\
    .groupBy('category_id', 'name')\
    .count()\
    .select('name','count')\
    .orderBy('count', ascending=False)

task1_df.show()

+-----------+-----+
|       name|count|
+-----------+-----+
|     Sports|   74|
|    Foreign|   73|
|     Family|   69|
|Documentary|   68|
|  Animation|   66|
|     Action|   64|
|        New|   63|
|      Drama|   62|
|     Sci-Fi|   61|
|      Games|   61|
|   Children|   60|
|     Comedy|   58|
|     Travel|   57|
|   Classics|   57|
|     Horror|   56|
|      Music|   51|
+-----------+-----+

In [7]:
#2. вывести 10 актеров, чьи фильмы большего всего арендовали, отсортировать по убыванию.
task2_df=rental_df\
    .join(inventory_df,'inventory_id')\
    .join(film_df, 'film_id')\
    .join(film_actor_df, 'film_id')\
    .join(actor_df, 'actor_id')\
    .groupBy('actor_id','first_name','last_name')\
    .count()\
    .select('first_name','last_name','count')\
    .orderBy('count', ascending=False)\
    .limit(10)

#     .select('actor_id','first_name','last_name')\

task2_df.show()

+----------+-----------+-----+
|first_name|  last_name|count|
+----------+-----------+-----+
|      GINA|  DEGENERES|  753|
|   MATTHEW|     CARREY|  678|
|      MARY|     KEITEL|  674|
|    ANGELA|WITHERSPOON|  654|
|    WALTER|       TORN|  640|
|     HENRY|      BERRY|  612|
|     JAYNE|      NOLTE|  611|
|       VAL|     BOLGER|  605|
|    SANDRA|     KILMER|  604|
|      SEAN|    GUINESS|  599|
+----------+-----------+-----+

In [8]:
# 3. вывести категорию фильмов, на которую потратили больше всего денег.
task3_df = rental_df\
    .join(inventory_df,'inventory_id')\
    .join(payment_df,'rental_id')\
    .join(film_df,'film_id')\
    .join(film_category_df,'film_id')\
    .join(category_df,'category_id')\
    .groupBy('category_id','name')\
    .agg(F.sum('amount').alias('amt'))\
    .orderBy('amt',ascending=False)\
    .select('name')\
    .limit(1)

task3_df.show()

+------+
|  name|
+------+
|Sports|
+------+

In [9]:
# 4. вывести названия фильмов, которых нет в inventory
task4_df = film_df\
    .join(inventory_df,'film_id','leftouter')\
    .where('inventory_id is null')\
    .select('title')\
    .orderBy('title')

task4_df.show(n=100000)

+--------------------+
|               title|
+--------------------+
|      ALICE FANTASIA|
|         APOLLO TEEN|
|      ARGONAUTS TOWN|
|       ARK RIDGEMONT|
|ARSENIC INDEPENDENCE|
|   BOONDOCK BALLROOM|
|       BUTCH PANTHER|
|       CATCH AMISTAD|
| CHINATOWN GLADIATOR|
|      CHOCOLATE DUCK|
|COMMANDMENTS EXPRESS|
|    CROSSING DIVORCE|
|     CROWDS TELEMARK|
|    CRYSTAL BREAKING|
|          DAZED PUNK|
|DELIVERANCE MULHO...|
|   FIREHOUSE VIETNAM|
|       FLOATS GARDEN|
|FRANKENSTEIN STRA...|
|  GLADIATOR WESTWARD|
|           GUMP DATE|
|       HATE HANDICAP|
|         HOCUS FRIDA|
|    KENTUCKIAN GIANT|
|    KILL BROTHERHOOD|
|         MUPPET MILE|
|      ORDER BETRAYED|
|       PEARL DESTINY|
|     PERDITION FARGO|
|       PSYCHO SHRUNK|
|   RAIDERS ANTITRUST|
|       RAINBOW SHOCK|
|       ROOF CHAMPION|
|       SISTER FREDDY|
|         SKY MIRACLE|
|    SUICIDES SILENCE|
|        TADPOLE PARK|
|    TREASURE COMMAND|
|   VILLAIN DESPERATE|
|        VOLUME HOUSE|
|           WAKE JAWS|
|        WALLS ARTIST|
+--------------------+

In [10]:
# 5. вывести топ 3 актеров, которые больше всего появлялись в фильмах в категории “Children”. Если у нескольких актеров одинаковое кол-во фильмов, вывести всех.
window = Window.orderBy(F.desc('count'))

task5_df = category_df\
    .join(film_category_df,'category_id')\
    .join(film_df,'film_id')\
    .join(film_actor_df,'film_id')\
    .join(actor_df,'actor_id')\
    .where("name='Children'")\
    .groupBy('actor_id', 'first_name', 'last_name')\
    .count()\
    .withColumn('actor_rank', F.dense_rank().over(window))\
    .where('actor_rank<=3')\
    .orderBy('actor_rank')\
    .select('first_name','last_name','count','actor_rank')

task5_df.show()

21/08/12 00:16:41 WARN window.WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+----------+---------+-----+----------+
|first_name|last_name|count|actor_rank|
+----------+---------+-----+----------+
|     HELEN|   VOIGHT|    7|         1|
|    WHOOPI|     HURT|    5|         2|
|     RALPH|     CRUZ|    5|         2|
|     KEVIN|  GARLAND|    5|         2|
|      MARY|    TANDY|    5|         2|
|  SCARLETT|    DAMON|    4|         3|
|    SANDRA|   KILMER|    4|         3|
| SYLVESTER|     DERN|    4|         3|
|     RENEE|     BALL|    4|         3|
|   KIRSTEN|   AKROYD|    4|         3|
|     SUSAN|    DAVIS|    4|         3|
|       UMA|     WOOD|    4|         3|
| CHRISTIAN|   AKROYD|    4|         3|
|     ELLEN|  PRESLEY|    4|         3|
|      ALAN| DREYFUSS|    4|         3|
|     JAYNE|    NOLTE|    4|         3|
|      JANE|  JACKMAN|    4|         3|
|      JADA|    RYDER|    4|         3|
|       VAL|   BOLGER|    4|         3|
+----------+---------+-----+----------+

In [11]:
# 6. вывести города с количеством активных и неактивных клиентов (активный — customer.active = 1). Отсортировать по количеству неактивных клиентов по убыванию.

task6_df = city_df\
    .join(address_df,'city_id')\
    .join(customer_df,'address_id')\
    .withColumn('inactive_attr',F.when(customer_df.active!=1,F.lit(1)).otherwise(F.lit(0)))\
    .select('city_id','city','active','inactive_attr')\
    .groupBy('city_id','city')\
    .agg(F.sum('active').alias('active_cnt'),F.sum('inactive_attr').alias('inactive_cnt'))\
    .orderBy('inactive_cnt', ascending=False)

task6_df.show(n=100000)

+-------+--------------------+----------+------------+
|city_id|                city|active_cnt|inactive_cnt|
+-------+--------------------+----------+------------+
|    407|           Pingxiang|         0|           1|
|    554|            Uluberia|         0|           1|
|    111|    Charlotte Amalie|         0|           1|
|    512|         Szkesfehrvr|         0|           1|
|    578|            Xiangfan|         0|           1|
|    125|       Coatzacoalcos|         0|           1|
|    281|              Ktahya|         0|           1|
|     57|             Bat Yam|         0|           1|
|     24|              Amroha|         0|           1|
|    495|     Southend-on-Sea|         0|           1|
|    283|          Kumbakonam|         0|           1|
|    139|              Daxian|         0|           1|
|    259|              Kamyin|         0|           1|
|    577|             Wroclaw|         0|           1|
|    356|           Najafabad|         0|           1|
|     74|            Bhilwara|         1|           0|
|    191|            Gulbarga|         1|           0|
|    295|              Laredo|         1|           0|
|    327|              Mardan|         1|           0|
|    135|              Dallas|         1|           0|
|    489|            Songkhla|         1|           0|
|     78|             Bijapur|         1|           0|
|    456| Santa Brbara dOeste|         1|           0|
|    531|           Teboksary|         1|           0|
|    368|            Novi Sad|         1|           0|
|    453|         San Lorenzo|         1|           0|
|     11|               Akron|         1|           0|
|    409|               Plock|         1|           0|
|    475|           Shivapuri|         1|           0|
|    166|               Ezhou|         1|           0|
|    444|              Salala|         1|           0|
|    485|So Bernardo do Campo|         1|           0|
|    107|          Chandrapur|         1|           0|
|    157|            Emeishan|         1|           0|
|    298|       Lengshuijiang|         1|           0|
|    547|             Tsuyama|         1|           0|
|    557|                Usak|         1|           0|
|     99|              Callao|         1|           0|
|    229|           Izumisano|         1|           0|
|    319|           Mahajanga|         1|           0|
|    445|           Salamanca|         1|           0|
|    590|            Yuncheng|         1|           0|
|     84|           Boa Vista|         1|           0|
|    213|        Huixquilucan|         1|           0|
|    434|             Robamba|         1|           0|
|     51|           Balurghat|         1|           0|
|    163|           Eskisehir|         1|           0|
|    262|         Kansas City|         1|           0|
|    127|            Coquimbo|         1|           0|
|    151|                 Ede|         1|           0|
|    378|             Olomouc|         1|           0|
|    505|            Sumqayit|         1|           0|
|    564|            Valparai|         1|           0|
|     98|             Cabuyao|         1|           0|
|    267|           Kimberley|         1|           0|
|    414|          Portoviejo|         1|           0|
|    589|                York|         1|           0|
|    321|                Malm|         1|           0|
|    222|               Inegl|         1|           0|
|    600|          Ziguinchor|         1|           0|
|     41|Augusta-Richmond ...|         1|           0|
|    109|           Changzhou|         1|           0|
|    218|              Ikerre|         1|           0|
|    370|           Nukualofa|         1|           0|
|     20|     Almirante Brown|         1|           0|
|    337|           Mit Ghamr|         1|           0|
|    478|Siliguri (Shiliguri)|         1|           0|
|    110|              Chapra|         1|           0|
|    232|             Jakarta|         1|           0|
|    560|               Vaduz|         1|           0|
|     44|                 Bag|         1|           0|
|    491|          Soshanguve|         1|           0|
|     30|            Araatuba|         1|           0|
|    464|               Satna|         1|           0|
|    134|                Dadu|         1|           0|
|    189|              Guaruj|         1|           0|
|    231|              Jaipur|         1|           0|
|    242|             Jinzhou|         1|           0|
|    251|               Kabul|         1|           0|
|    358|        Nakhon Sawan|         1|           0|
|    440|          Sagamihara|         1|           0|
|    154|           El Fuerte|         1|           0|
|    168|            Fengshan|         1|           0|
|    569|          Vila Velha|         1|           0|
|     25|      Angra dos Reis|         1|           0|
|    446|             Salinas|         1|           0|
|    192|             Hagonoy|         1|           0|
|    379|            Omdurman|         1|           0|
|    382|            Onomichi|         1|           0|
|    470|              Sharja|         1|           0|
|    492|              Sousse|         1|           0|
|    555|               Urawa|         1|           0|
|    316|             Lungtan|         1|           0|
|    206|             Hodeida|         1|           0|
|    133|         Czestochowa|         1|           0|
|    372|               Nyeri|         1|           0|
|     32|             Arecibo|         1|           0|
|    121|   Citt del Vaticano|         1|           0|
|    301|         Lhokseumawe|         1|           0|
|    422|         Qinhuangdao|         1|           0|
|    250|               Jurez|         1|           0|
|    318|              Madiun|         1|           0|
|    563|   Valle de Santiago|         1|           0|
|    542|              Touliu|         1|           0|
|    436|                Ruse|         1|           0|
|    545|             Trshavn|         1|           0|
|    258| Kamjanets-Podilskyi|         1|           0|
|    266|               Kilis|         1|           0|
|    293|            Laohekou|         1|           0|
|    503|             Sullana|         1|           0|
|    221|                Imus|         1|           0|
|    296|            Lausanne|         1|           0|
|    364|           Newcastle|         1|           0|
|      6|         Addis Abeba|         1|           0|
|    306|             Lincoln|         1|           0|
|    571|                Vinh|         1|           0|
|    148|            Duisburg|         1|           0|
|    481|              Sirjan|         1|           0|
|     50|           Balikesir|         1|           0|
|     52|             Bamenda|         1|           0|
|    122|     Ciudad del Este|         1|           0|
|    253|        Kakamigahara|         1|           0|
|    412|           Pontianak|         1|           0|
|    581|            Xinxiang|         1|           0|
|     18|Allappuzha (Allep...|         1|           0|
|     27|         Antofagasta|         1|           0|
|    162|             Esfahan|         1|           0|
|    224|             Isesaki|         1|           0|
|    303|             Liepaja|         1|           0|
|     26|             Anpolis|         1|           0|
|    479|          Simferopol|         1|           0|
|     93|            Brindisi|         1|           0|
|    294|           Lapu-Lapu|         1|           0|
|    463|              Sasebo|         1|           0|
|    442|         Saint-Denis|         1|           0|
|     76|              Bhopal|         1|           0|
|     10|            Akishima|         1|           0|
|     46|            Baicheng|         1|           0|
|     92|               Brest|         1|           0|
|    150|           Dzerzinsk|         1|           0|
|    339|            Mogiljov|         1|           0|
|    207|              Hohhot|         1|           0|
|    357|                Naju|         1|           0|
|    388|    Ourense (Orense)|         1|           0|
|    390|                 Oyo|         1|           0|
|    454|San Miguel de Tucumn|         1|           0|
|     34|              Ashdod|         1|           0|
|    458|          Santa Rosa|         1|           0|
|    438|     s-Hertogenbosch|         1|           0|
|    208|          Hoshiarpur|         1|           0|
|    405|             Pereira|         1|           0|
|    143|               Dhaka|         1|           0|
|    194|            Haiphong|         1|           0|
|    424|             Quilmes|         1|           0|
|    140|              Dayton|         1|           0|
|    341|            Monclova|         1|           0|
|    546|             Tsaotun|         1|           0|
|     59|               Batna|         1|           0|
|     67|            Benguela|         1|           0|
|     85|            Boksburg|         1|           0|
|    199|                Hami|         1|           0|
|    336|               Miraj|         1|           0|
|    375|               Okara|         1|           0|
|    198|         Halle/Saale|         1|           0|
|    254|         Kaliningrad|         1|           0|
|    329|              Masqat|         1|           0|
|      3|           Abu Dhabi|         1|           0|
|    153|             El Alto|         1|           0|
|    197|           Halisahar|         1|           0|
|    225|             Ivanovo|         1|           0|
|    272|               Kitwe|         1|           0|
|    322|          Manchester|         1|           0|
|    164|              Etawah|         1|           0|
|    449|      San Bernardino|         1|           0|
|     83|            Blumenau|         1|           0|
|    466|            Serpuhov|         1|           0|
|    297|             Le Mans|         1|           0|
|    328|              Maring|         1|           0|
|    457|             Santa F|         1|           0|
|    385|               ostka|         1|           0|
|    533|      Tel Aviv-Jaffa|         1|           0|
|     15|          al-Qadarif|         1|           0|
|     61|              Baybay|         1|           0|
|    210|              Huaian|         1|           0|
|    389|                 Owo|         1|           0|
|    447|            Salzburg|         1|           0|
|    315|          Lubumbashi|         1|           0|
|    386|                Otsu|         1|           0|
|     28| Aparecida de Goinia|         1|           0|
|    285|              Kurgan|         1|           0|
|     43|          Avellaneda|         1|           0|
|    374|           Ogbomosho|         1|           0|
|    314|              Lublin|         1|           0|
|    433|             Roanoke|         1|           0|
|     68|         Beni-Mellal|         1|           0|
|    312|              London|         2|           0|
|    437|          Rustenburg|         1|           0|
|    216|                Idfu|         1|           0|
|    583|              Yangor|         1|           0|
|    172|            Fukuyama|         1|           0|
|    237|               Jedda|         1|           0|
|     54|              Banjul|         1|           0|
|    421|              Qalyub|         1|           0|
|    488|              Sokoto|         1|           0|
|    187|          Greensboro|         1|           0|
|    238|              Jelets|         1|           0|
|    599|            Zhoushan|         1|           0|
|    579|            Xiangtan|         1|           0|
|    551|               Udine|         1|           0|
|     90|          Bratislava|         1|           0|
|    377|             Okinawa|         1|           0|
|    418|     Purnea (Purnia)|         1|           0|
|    477|              Siegen|         1|           0|
|    501|               Sucre|         1|           0|
|    103|              Carmen|         1|           0|
|    177|        Garden Grove|         1|           0|
|    185|       Grand Prairie|         1|           0|
|    348|          Mwene-Ditu|         1|           0|
|    420|           Pyongyang|         1|           0|
|     88|            Bradford|         1|           0|
|    158|               Emmen|         1|           0|
|    269|           Kingstown|         1|           0|
|    299|              Leshan|         1|           0|
|    507|       Sungai Petani|         1|           0|
|    559|   Uttarpara-Kotrung|         1|           0|
|    156|              Elista|         1|           0|
|    180|           Gaziantep|         1|           0|
|    354|              Nagaon|         1|           0|
|    504|         Sultanbeyli|         1|           0|
|    561|            Valencia|         1|           0|
|    582|        Yamuna Nagar|         1|           0|
|     71|Berhampore (Bahar...|         1|           0|
|    291|               Laiwu|         1|           0|
|    459|Santiago de Compo...|         1|           0|
|    548|          Tuguegarao|         1|           0|
|     62|             Bayugan|         1|           0|
|    265|          Kermanshah|         1|           0|
|    425|          Rae Bareli|         1|           0|
|    432|              Rizhao|         1|           0|
|    443|                 Sal|         1|           0|
|     56|               Basel|         1|           0|
|    234|            Jamalpur|         1|           0|
|    101|          Cape Coral|         1|           0|
|    279|Kowloon and New K...|         1|           0|
|    476|    Shubra al-Khayma|         1|           0|
|    311|                Loja|         1|           0|
|    566|  Varanasi (Benares)|         1|           0|
|    270|      Kirovo-Tepetsk|         1|           0|
|    100|            Cam Ranh|         1|           0|
|    252|              Kaduna|         1|           0|
|     17|         Alessandria|         1|           0|
|    200|            Hamilton|         1|           0|
|    246|          Jos Azueta|         1|           0|
|    282|             Kuching|         1|           0|
|    292|           Lancaster|         1|           0|
|    359|            Nam Dinh|         1|           0|
|     91|             Brescia|         1|           0|
|    196|             Halifax|         1|           0|
|    170|           Florencia|         1|           0|
|      5|               Adana|         1|           0|
|    343|              Moscow|         1|           0|
|    391|              Ozamis|         1|           0|
|    137|          Daugavpils|         1|           0|
|    332|             Meixian|         1|           0|
|    342|              Monywa|         1|           0|
|    147|       Dos Quebradas|         1|           0|
|    188|         Guadalajara|         1|           0|
|    240|            Jinchang|         1|           0|
|    249|               Junan|         1|           0|
|    304|            Lilongwe|         1|           0|
|    529|              Tarsus|         1|           0|
|    145|            Dongying|         1|           0|
|    278|             Korolev|         1|           0|
|    417|                Pune|         1|           0|
|    428|            Rancagua|         1|           0|
|    550|             Udaipur|         1|           0|
|     64|               Beira|         1|           0|
|    195|              Haldia|         1|           0|
|    411|               Ponce|         1|           0|
|    482|               Sivas|         1|           0|
|    514|              Tabriz|         1|           0|
|    517|              Taguig|         1|           0|
|      9|          Ahmadnagar|         1|           0|
|    217|                 Ife|         1|           0|
|    384|            Osmaniye|         1|           0|
|    509|           Surakarta|         1|           0|
|     45|         Baha Blanca|         1|           0|
|    395|  Palghat (Palakkad)|         1|           0|
|    193|             Haining|         1|           0|
|    261|         Kanchrapara|         1|           0|
|    268|             Kimchon|         1|           0|
|    426|              Rajkot|         1|           0|
|    273|          Klerksdorp|         1|           0|
|    527|               Tanza|         1|           0|
|    105|             Cayenne|         1|           0|
|    277|               Korla|         1|           0|
|     77|            Bhusawal|         1|           0|
|    465|              Sawhaj|         1|           0|
|    352|   Nabereznyje Telny|         1|           0|
|     39|              Atinsk|         1|           0|
|    138|               Davao|         1|           0|
|    204|                Hino|         1|           0|
|    209|             Hsichuh|         1|           0|
|    367|          Niznekamsk|         1|           0|
|    441|         Saint Louis|         1|           0|
|     23|          Amersfoort|         1|           0|
|    317|             Luzinia|         1|           0|
|    519|            Talavera|         1|           0|
|    562|  Valle de la Pascua|         1|           0|
|    461|          Santo Andr|         1|           0|
|    132|               Cuman|         1|           0|
|    144|      Dhule (Dhulia)|         1|           0|
|    190| guas Lindas de Gois|         1|           0|
|    331|              Matsue|         1|           0|
|    585|              Yaound|         1|           0|
|    587|            Yinchuan|         1|           0|
|     87|          Botshabelo|         1|           0|
|    330|           Matamoros|         1|           0|
|    493|          South Hill|         1|           0|
|    508|           Sunnyvale|         1|           0|
|    174|                Fuyu|         1|           0|
|    302|           Liaocheng|         1|           0|
|     86|            Botosani|         1|           0|
|    347|              Mwanza|         1|           0|
|    502|              Suihua|         1|           0|
|    205|           Hiroshima|         1|           0|
|    523|             Tanauan|         1|           0|
|     31|                Arak|         1|           0|
|    160|            Erlangen|         1|           0|
|    173|            Funafuti|         1|           0|
|    402|            Pavlodar|         1|           0|
|    580|              Xintai|         1|           0|
|    487|            Sogamoso|         1|           0|
|     37|             Asuncin|         1|           0|
|     49|             Balaiha|         1|           0|
|    274|             Kolpino|         1|           0|
|    309|             Livorno|         1|           0|
|    165|              Ezeiza|         1|           0|
|    260|            Kanazawa|         1|           0|
|    308|             Lipetsk|         1|           0|
|    369|        Novoterkassk|         1|           0|
|    598|         Zhezqazghan|         1|           0|
|      2|                Abha|         1|           0|
|    184|           Gorontalo|         1|           0|
|    152|        Effon-Alaiye|         1|           0|
|    181|                Gijn|         1|           0|
|    427|              Rampur|         1|           0|
|    467|        Shahr-e Kord|         1|           0|
|    552|                Ueda|         1|           0|
|    400|             Patiala|         1|           0|
|    473|             Shimoga|         1|           0|
|    307|                Linz|         1|           0|
|    338|          Miyakonojo|         1|           0|
|    596|               Zaria|         1|           0|
|    255|              Kalisz|         1|           0|
|    525|             Tangail|         1|           0|
|    570|             Vilnius|         1|           0|
|     42|              Aurora|         2|           0|
|    118|              Ciomas|         1|           0|
|    406|          Phnom Penh|         1|           0|

In [12]:
# 7. вывести категорию фильмов, у которой самое большое кол-во часов суммарной аренды в городах (customer.address_id в этом city), и которые начинаются на букву “a”. 
# То же самое сделать для городов в которых есть символ “-”.

tmp_df = category_df\
    .join(film_category_df,'category_id')\
    .join(inventory_df,'film_id')\
    .join(rental_df,'inventory_id')\
    .join(customer_df,'customer_id')\
    .join(address_df,'address_id')\
    .join(city_df,'city_id')\
    .where(rental_df.return_date.isNotNull())\
    .select('city','name',F.datediff(rental_df.return_date,rental_df.rental_date).alias('rental_time'))

window = Window.orderBy(F.desc('rtime'))

a_cities_df = tmp_df\
    .where("lower(city) like 'a%'")\
    .groupBy('name')\
    .agg(F.sum('rental_time').alias('rtime'))\
    .withColumn('category_rank',F.rank().over(window))\
    .where('category_rank=1')\
    .select(F.lit('most popular category for A% cities:').alias('title'),'name')

minus_cities_df = tmp_df\
    .where("city like '%-%'")\
    .groupBy('name')\
    .agg(F.sum('rental_time').alias('rtime'))\
    .withColumn('category_rank',F.rank().over(window))\
    .where('category_rank=1')\
    .select(F.lit('most popular category for %-% cities:').alias('title'),'name')

task7_df = a_cities_df.unionAll(minus_cities_df)

tmp_df.unpersist()
a_cities_df.unpersist()
minus_cities_df.unpersist()

task7_df.show(truncate=False)

21/08/12 00:16:47 WARN window.WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
21/08/12 00:16:47 WARN window.WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.

+-------------------------------------+-------+
|title                                |name   |
+-------------------------------------+-------+
|most popular category for A% cities: |Sports |
|most popular category for %-% cities:|Foreign|
+-------------------------------------+-------+